<div id="content-wrapper">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="6u important(collapse)">
					
					<!-- Main Content -->
						<section>
							<header>
								<h2>Chandrasekarendran G</h2>
								
							</header>
							<ul class="link-list">
								<li>
									I am a CS student at MIT 
								</li>
								<li>
									My area of interest is Competitive programming
								</li>
								<li>
									You can find some of my projects <a href="http://bitbucket.org/gcs06"> here </a>
								</li>
							</ul>
						</section>

				</div>
				<div class="6u important(collapse)">
					
					<!-- Sidebar -->
						<section>
							<header>
								<h2>Varun A</h2>
							</header>
							<ul class="link-list">
								<li>
									I am a CS student at MIT 
								</li>
								<li>
									I am a avid programmer and gamer.
								</li>
								<li>
									You can find some of my projects at <a href ="http://a-varun.github.io"> my page</a>
								</li>
							</ul>
						</section>
						

				</div>
				
			</div>
		</div>
	</div>
</div>
