<div id="content-wrapper">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="4u" >

						<section>
							<header>
								<h2> {{title}} </h2>
							</header>
							<p>
									{{content}}
							</p>
						</section>

				</div>
				<div class="4u">
						<section>
							<header>
								<h2>What Do We Do?</h2>
							</header>
							<ul class="check-list">
								<li ng-repeat="data in whatWeContent">{{data}}</li>
							</ul>
						</section>

				</div>
				<div class="4u">
					
					<!-- Box #3 -->
						<section>
							<header>
								<h2>How does it work</h2>
								<!--h3>And a final subheading about our clients</h3-->
							</header>
							<ul class="bullet-list">
								<li>
									Upload the files you want to compare
								</li>
								<li>
									Click on the compare button
								</li>
								<li>
									Wait for a few milliseconds
								</li>
								<li>
									The match and portions matching are displayed.
								</li>
							</ul>
						</section-->

				</div>
			</div>
		</div>
	</div>
</div>